.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(30, 54%, 90%);
}

* {
  margin: 0rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  max-width: 37.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 10px;
}

.food-image {
  max-width: 100%;
  border-radius: 5px;
  margin-block-end: 20px;
}

.food-heading {
  font-size: 2.3rem;
  font-family: "Young Serif", serif;
  font-weight: 700;
  color: hsl(24, 5%, 18%);
  margin-block-end: 15px;
}

.food-info {
  font-size: 0.9rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: hsl(30, 10%, 34%);
  margin-block-end: 15px;
}

.preparation {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  padding: 15px;
  border-radius: 8px;
  background-color: hsl(330, 100%, 98%);
}

.prep-heading {
  font-size: 16px;
  color: hsl(332, 51%, 32%);
  margin-block-end: 10px;
}

.preparation li {
  color: hsl(30, 10%, 34%);
  margin-block-end: 8px;
}

.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

.heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-block-start: 15px;
  margin-block-end: 10px;
}

.guidance {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.guidance ul,
.guidance ol {
  margin-block-end: 20px;
}

.guidance li {
  font-size: 0.91rem;
  color: hsl(30, 10%, 34%);
  margin-block-end: 8px;
}

.bold-font {
  font-weight: 600;
}

.guidance li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.nutrition {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.nutrition p {
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table tr {
  border-bottom: 1px solid hsl(30, 54%, 90%);
}

.nutrition-table tr:last-child {
  border-bottom: none;
}

.nutrition-table th {
  text-align: left;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.nutrition td {
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

.nutrition-table th,
.nutrition-table td {
  padding-inline-start: 15px;
  padding-block-end: 5px;
  padding-block-start: 15px;
}
